.main-body {
    min-height: calc(100vh - 80px);
    margin: 0 15px;
}

.controller {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.controller-btn {
    background-color: #04aa6d;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    min-width: 85px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 86px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;
}

.dropdown-content > span {
    color: black;
    padding: 6px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}

.dropdown-content span:hover {
    background-color: rgb(221, 221, 221);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(62, 142, 65);
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .card-container {
            grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
